container{
    width: 100%;
    height:100%;
}

h1{
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    color:white;
    text-shadow: 3px 2px black;
}

h3{
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    color:white;
    text-shadow: 3px 2px black;
}

.cathead{
    position:absolute;
    width:120px;
    height:120px;
    background-color:black;
    border-radius: 60px;
    margin-left:460px;
    clear:both;
    }
.cathead h1{
    font-size: 50px;
    padding:10px;
    color:red;
    padding-bottom:20px;
}    

.catbody{
width:300px;
height:200px;
margin-left:160px;
background-color:black;
float:left;
position:absolute;
}

.catfeet{
    width:20px;
    height:150px;
    background-color:black;
    margin-top:200px;
    margin-left:160px;
    position:absolute;
    }

.catfeet2{
        width:20px;
        height:150px;
        background-color:black;
        margin-top:200px;
        margin-left:230px;
        position:absolute;
        }

.catfeet2{
            width:20px;
            height:150px;
            background-color:black;
            margin-top:200px;
            margin-left:230px;
            position:absolute;
            }

 .catfeet3{
                width:20px;
                height:150px;
                background-color:black;
                margin-top:200px;
                margin-left:330px;
                position:absolute;
 }

 .catfeet4{
    width:20px;
    height:150px;
    background-color:black;
    margin-top:200px;
    margin-left:430px;
    position:absolute;
}

.cattail{
        width:300px;
        height:20px;
        background-color:black;
        position:absolute;
        }

.background{
 background-image: url('bg.jpg');
 width:auto 0;
 background-repeat:no-repeat;
 width:100%;
 min-height:100%;
 background-color:black;
}

.panel{
    background-color:Red;
    width:auto 0;
    border-radius: 2px;
    width:100%;
    min-height:100%;
   }
